{% extends 'base.html' %}

{% block content %}
<div class = 'container m-4 jm'>
    <H1>BOOKMARK</H1>
</div>

<!-- SITE -->

<div class = 'container mt-4 jm'>
    <h3>SITE</h3>
    <hr>
</div>
<div class = 'dropdown container mt-3 jm'>
    {% for i in blist %}
    <button class="border border-3 btn btn-outline-light dropdown-toggle mt-3" style = 'background-color: rgb(140, 162, 190);' type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ i.site_name }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a href = "{{ i.site_url }}" target='_blank' style="text-decoration:none"><button class="dropdown-item" type="button">Go</button></a></li>
        <li><a href = "{% url 'book:update' i.id %}" style="text-decoration:none"><button class="dropdown-item" type="button">Modify</button></a></li>
        <li><a href = "{% url 'book:delete' i.id %}" style="text-decoration:none"><button class = "dropdown-item" type="button">Delete</button></a></li>
    </ul>
    {% endfor%}
    <a href = "{% url 'book:create' %}"><button type="button" class="border border-3 btn btn-outline-light mt-3" style = 'background-color: rgb(140, 162, 190);'>+</button></a>
</div>

<!-- READING LIST -->

<div class = 'container mt-5 jm'>
    <h3>READING LIST</h3>
    <hr>
</div>
<div class = 'container mt-3 mb-5'>
    <div class = 'row jm'>
        {% for j in rlist %}
        <div class="border border-2 col-4 m-2 card" style="width: 19rem; background-color: rgba(176, 196, 222, 0.658); ">
            <div class="card-body">
                <h5 class="card-title" style="font-size: 100%;">{{ j.t_summary }}</h5>
                <p class="card-text" style="font-size: 80%;">{{ j.summary }}</p>
                <a href="{{ j.read_url }}" target = '_blank' class="btn btn-outline-secondary btn-sm">
                    Go to read
                </a>
                <a href="{% url 'book:r_delete' j.id %}"><button class = "btn btn-outline-secondary btn-sm">
                    Delete
                </button></a>
            </div>
        </div>
        {% endfor %}
        <div class='m-2 card' style="width: 19rem; background-color: rgba(176, 196, 222, 0.658);">
            <div class="card-body" style="margin:0 auto;">
                <a href = "{% url 'book:r_create' %}" class = "btn btn-outline-secondary btn-lg" style = "margin:40px auto;">+</a>
            </div>
            
        </div>
        
    </div>
</div>
{% endblock %}
