{% extends 'base.html' %}

{% block content %}
<div class = 'container m-4 jm'>
    <H1>BOOKMARK</H1>
</div>

<div class = 'container mt-5 jm'>
    <form method = "POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text text-center"  style="width : 110px;">URL</span>
            <input type="text" name="read_url" class="form-control" required>
        </div>
        <p>
            <button class="btn btn-outline-primary">Create</button>
        </p>    
    </form>
</div>


{% endblock %}


</div>