{% extends 'base.html' %}

{% block content %}
<form method="POST" enctype = "multipart/form-data"> <!--enctype : 바이너리 파일 보낼 때 : -->
    {% csrf_token %}
    <div class='container mt-5 jm' style = 'width: 70%'>
        <h2>WRITE</h2>
        <div class="input-group flex-nowrap" > 
            <span class="input-group-text" id="addon-wrapping">Subject</span>
            <input type="text" name = "subject"  class="form-control"  aria-describedby="addon-wrapping">
        </div>
        <div class="mt-2 input-group">
            <span class="input-group-text">Content</span>
            <textarea class="form-control" style = "height: 150px" name = "content" aria-label="With textarea"></textarea>
        </div>
        <div class="mt-2 input-group">
            <input type="file" name = "photo" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
    </form>
    <a href = "{% url 'board:index' %}"><button class = 'mt-3 btn btn-outline-primary'>CREATE</button></a>
      
</div>

{% endblock %}